.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.button-holder {
    padding: 10px;
    text-align: center;
}

button {
    margin: 0 auto;
    display: block;
}

/* pseudo class :disabled to disable button */
button:disabled {
    /*   opacity: .5;  */
}

img {
    width: 100%;
}